html{
    height: 100%;
}
body{
    color: #333333;
    font-family: Arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    background-color: lightblue;

    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.main-content{
    flex-grow:1;
    height: 80%;
}
footer{
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding:16px 0;
    height: 10%;

}
header{
    margin-top: 16px;
    margin-bottom: 48px;
    height: 10%;
}
h1{
    font-size: 64px;
    margin-bottom: 16px;
}
header a{
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}
.photo{
    width: 200px;
}
input{
    border: 1px solid blue;
    padding: 6px;
}
button{
    border: 1px solid #9ad6ee;
    padding: 6px;
    background-color: black;
    color: white;
    cursor: pointer;
}
/* div{
    background-image:url('../images/cloud.jpg');
    background-size: initial;
} */

